{% extends 'base.html' %}
{% load staticfiles %}

<!--写入title-->
{% block title %}
课程查询
{% endblock title %}

<!--写入content-->
{% block content %}
    <div class="container">
            <form action="/change_password/" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class='col-md-1'>
                        新密码
                    </div>
                    <div class='col-md-3'>
                        <input class="form-control" name="password1" type="password">
                    </div>
                </div>
                
                <div class="row">
                    <div class='col-md-1'>
                        确认密码
                    </div>
                    <div class='col-md-3'>
                        <input class="form-control" name="password2" type="password">
                    </div>
                </div>
                <button type="reset" >重置</button>
                <button type="submit">提交</button>
             </form>
    </div>
{% endblock content %}