<nav class="navbar navbar-default navbar-fluid">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">教务管理系统</a>
        </div>
        <div class="nav navbar-nav">
            <li><a href="/search_course">课程查询</a></li>
            <li><a href="/search_score">成绩查询</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  课程管理
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/choose_course">选课</a></li>
                <li><a href="/drop_course">退课</a></li>
              </ul>
            </li>
            <li><a href="/change_password">修改密码</a></li>
        </div>
        <form class="nav navbar-form navbar-right" action="/logout/" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-default">登出</button>
        </form>
    </div>
</nav>