{% extends 'base_r&l.html' %}
{% load staticfiles %}

<!--写入title-->
{% block title %}
登陆
{% endblock title %}

<!--写入content-->
{% block content %}

<script>
    setInterval("clock.innerHTML=new Date().toLocaleString()",10)
</script>

<div class="right-side">
    <h1>欢迎登录！</h1>
   <form action="/t_login/" method="post">
       {% if message %}
            <div>{{ message }}</div>
       {% endif %}
       {% csrf_token %}
       {{login_form}}
       <button type="submit">提交</button>
       <a href="/register/">注册</a>
    </form>
</div>



{% endblock content %}